* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.header {
	min-height: 75px;
	grid-column: 12 span;
	background-color: red;
}

.aside {
	grid-column: 2 span;
	background-color: yellow;
}

.main {
	grid-column: 10 span;
	background-color: green;
	padding: 30px 0;
}

.main__container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	gap: 20px;
}

.article {
	min-height: 400px;
	background-color: orange;
}

.footer {
	min-height: 150px;
	grid-column: 12 span;
	background-color: blue;
}

@media (width <= 1200px) {
	.aside {
		grid-column: 3 span;
	}

	.main {
		grid-column: 9 span;
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: 12 span;
	}
}

