.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.hero {
	position: relative;
}

.hero::before {
	content: "";
	position: absolute;
	top: 455px;
	left: 0;
	z-index: -1;
	width: calc(45% - 200px);
	height: 48px;
	background: url(../images/decor-large-icon.svg) repeat-x;
}

.hero__header {
	margin-bottom: 80px;
}

.hero__title {
	margin-bottom: 40px;
	max-width: 596px;
	font-family: "Oswald";
	font-weight: 600;
	font-size: 48px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.hero__text {
	margin-bottom: 20px;
	line-height: 1.3;
	color: #535755;
}

/* group start */

.group__title {
	margin-bottom: 40px;
}

.group__text {
	max-width: 744px;
	margin-bottom: 20px;
	line-height: 1.3;
	color: #535755;
}

.group__list {
	padding-left: 16px;
	margin: 0;
	line-height: 1.3;
	color: #535755;
}

.group__list-item:not(:last-child) {
	margin-bottom: 11px;
}

.group__list-item::marker {
	font-size: 20px;
	color: #3596ed;
}

/* group end */

/* review start */

.review {
	position: relative;
}

.review::after {
	content: "";
	position: absolute;
	bottom: 197px;
	right: 0;
	height: 48px;
	width: 50%;
	z-index: -1;
	background: url(../images/decor-large-icon.svg);
}

.review__title {
	margin-bottom: 40px;
}

.review__video-wrapper {
	margin-bottom: 40px;
}

.review__video-play-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #3596ed;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

.review__video-play-button:hover {
	background-color: #3597edc7;
}

.review__video-play-button:not(:disabled):active {
	background-color: #2b7dc4c7;
}

.review__text {
	font-size: 16px;
	line-height: 1.3;
	color: #535755;
}

/* review start */

/* media */

@media (width <=992px) {
	.hero::before {
		top: 600px;
	}
}

@media (width <=768px) {
	.article {
		padding-top: 60px;
		padding-bottom: 80px;
	}

	.hero__header {
		margin-bottom: 40px;
	}

	.hero__title {
		font-size: 40px;
		text-align: center;
	}

	.hero::before, .review::after {
		display: none;
	}
}

@media (width <=576px) {
	.hero__title {
		font-size: 35px;
	}

	.review__video-play-button {
		top: 44%;
		width: 50px;
		height: 50px;
	}

	.review__video-play-button-img {
		width: 18px;
		height: auto;
	}
}