*,
::before,
::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h3 {
	font-weight: 400;
	font-size: 16px;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

a, button {
	outline: none;
}

.title {
	font-family: "Oswald";
	font-weight: 600;
	font-size: 48px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}


.title-medium {
	font-family: "Oswald";
	font-weight: 500;
	font-size: 24px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.section__title {
	font-family: "Oswald";
	font-weight: 600;
	font-size: 36px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.text {
	line-height: 1.3;
	color: #535755;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}

.button {
	display: inline-block;
	padding: 19px 32px;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #3596ed;
	-webkit-transition: opacity .2s, background-color .2s;
	-o-transition: opacity .2s, background-color .2s;
	transition: opacity .2s, background-color .2s;
}

.button:hover {
	opacity: 0.85;
}

.button:not(:disabled):active {
	background-color: #2c7ec6;
}

button.button:disabled {
	opacity: 0.65;
	cursor: default;
}

.margin-bottom {
	margin-bottom: 140px;
}

.article-margin-bottom {
	margin-bottom: 80px;
}



a:focus-visible, button:focus-visible, summary:focus-visible {
	outline: 2px solid #3596ed;
	outline-offset: 1px;
}

.decor::after {
	content: "";
	position: absolute;
	top: 215px;
	z-index: -1;
	width: calc(45% - 200px);
	height: 48px;
	background: url(../images/decor-large-icon.svg) repeat-x;
}

/* @media start */

@media (width <=992px) {
	.container {
		max-width: 768px;
	}

	.margin-bottom {
		margin-bottom: 80px;
	}

	.article-margin-bottom {
		margin-bottom: 60px;
	}

	.title {
		font-size: 40px;
		text-align: center;
	}
}

@media (width <=768px) {

	.container {
		max-width: 576px;
	}

	.section__title {
		font-size: 30px;
	}
}

@media (width <=576px) {
	.margin-bottom {
		margin-bottom: 60px;
	}

	.title {
		font-size: 34px;
	}

	.title-medium {
		font-size: 20px;
	}
}

/* @media end*/