*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 50px auto 0;
}

h2 {
  text-align: center;
}

.form {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.form__name-field {
  display: inline-block;
  margin-bottom: 5px;
}

.form__field {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.form__text-field {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 8px;
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}

.form__button {
  width: 100%;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 8px;
}