*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.section__title {
	font-family: "Oswald";
	font-weight: 600;
	font-size: 36px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.hero__title {
	margin-bottom: 40px;
	max-width: 596px;
	font-family: "Oswald";
	font-weight: 600;
	font-size: 48px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.hero__text {
	margin-bottom: 20px;
	line-height: 1.3;
	color: #535755;
}

.mb {
	margin-bottom: 80px;
}

.hero__img-decor-wrapper {
	position: relative;
}

.hero__img-decor-wrapper::before {
	content: url(../images/decor-icon.svg) / "декор в виде квадратов";
	position: absolute;
	top: 100px;
	left: -350px;
	z-index: -1;
}

.hero__img-decor {
	position: absolute;
	top: 100px;
	left: -350px;
	z-index: -1;
}

.hero__img {
	display: inline-block;
	width: 100%;
}

.group {
	margin-bottom: 80px;
}

.group__title {
	margin-bottom: 40px;
}

.group__text {
	max-width: 744px;
	margin-bottom: 20px;
	line-height: 1.3;
	color: #535755;
}

.group__list {
	padding-left: 16px;
	margin: 0;
	line-height: 1.3;
	color: #535755;
}

.group__list-item {
	margin-bottom: 11px;
}

.group__list-item::marker {
	font-size: 20px;
	color: #3596ed;
}

.group__list-item:last-child {
	margin-bottom: 0;
}

.review__title {
	margin-bottom: 40px;
}

.review__decor-wrapper-video {
	position: relative;
	margin-bottom: 40px;
}

.review__decor-wrapper-video::before {
	content: url(../images/decor-icon.svg) / "декор в виде квадратов";
	position: absolute;
	bottom: 197px;
	right: -150px;
	z-index: -1;
}

.review__img {
	width: 100%;
	display: inline-block;
}

.review__video-play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #3596ed;
	cursor: pointer;
}

.review__text {
	font-size: 16px;
	line-height: 1.3;
	color: #535755;
}
