.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
}

.phone {
	text-align: right;
}

.phone__link {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

.phone__link:hover {
	color: #3596ed;
}