.hero {
	position: relative;
	padding-top: 80px;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url(../images/decor-large-icon.svg) repeat-x;
}

.hero__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 28px;
}

.hero__info {
	max-width: 492px;
}

.hero__title {
	margin-bottom: 40px;
	font-family: "Oswald";
	font-weight: 600;
	font-size: 62px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.hero__title strong {
	font-weight: 600;
	color: #3596ed;
}

.hero__text {
	margin-bottom: 140px;
	max-width: 439px;
}

.hero__images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.hero__choose {
	position: absolute;
	top: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 161px;
	text-align: center;
	padding: 22px;
	border: 1px solid #535755;
	background-color: rgba(255, 255, 255, 0.9);
}

.news__title {
	margin-bottom: 40px;
}

.news__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 28px;
}

.news__article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 25%;
	flex: 1 1 25%;
	max-width: 284px;
	border: 1px solid #d3cbd9;
	overflow: hidden;
}

.news__article-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}

.news__article-img {
	display: block;
}

.news__article-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news__article-title {
	line-height: 1.3;
	color: #2c332f;
}

.news__article-footer {
	margin-top: auto;
	padding: 0 20px 20px;
}

.news__article-link {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
	line-height: 1.3;
	color: #3596ed;
}

.news__article-link::after {
	display: inline-block;
	content: "";
	width: 22px;
	height: 9px;
	background-image: url(../images/arrow-icon.svg);
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.news__article-link:hover::after {
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px);
}

.faq {
	position: relative;
}

.faq__title {
	margin-bottom: 40px;
}

.faq__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	gap: 28px;
}

/* Аккардион faq start*/

details {
	margin-bottom: 20px;
	border-block: 1px solid #d3cbd9;
}

details>p {
	padding: 0 20px 20px;
}

details:last-child {
	margin-bottom: 0;
}

details[open] summary::after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

summary {
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	list-style: none;
	cursor: pointer;
}

summary::after {
	content: "";
	display: inline-block;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 17px;
	height: 22px;
	background: url(../images/arrow-down-icon.svg) no-repeat center / cover;
}

summary::-webkit-details-marker {
	display: none;
}

/* Аккардион faq end*/

/* @media start */

@media (width <=1440px) {
	.hero__images img {
		width: 50%;
	}

	.faq::after {
		display: none;
	}
}

@media (width <=992px) {
	.hero__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 50px;
	}

	.hero::after {
		display: none;
	}

	.hero__title {
		font-size: 44px;
		margin-bottom: 30px;
	}

	.hero__info {
		text-align: center;
		max-width: inherit;
	}

	.hero__text {
		max-width: inherit;
		margin-bottom: 30px;
	}

	.news__wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 20px;
	}

	.news__article {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 350px;
	}

	.news__article-img {
		width: 100%;
	}

	.faq__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media (width <=768px) {
	.hero__title {
		font-size: 42px;
	}

	.news__article {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 400px;
	}
}

@media (width <=576px) {
	.hero {
		padding-top: 60px;
	}

	.hero__info {
		max-width: 410px;
	}

	.hero__choose {
		padding: 10px;
		max-width: 125px;
		font-size: 14px;
	}

	summary {
		padding: 15px;
	}

	details>p {
		padding: 15px;
	}
}

/* @media end*/