.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

.page__body {
	min-width: 375px;
	background-color: var(--bg-color);
}

.page__body--no-scroll {
	overflow-y: hidden;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}

img {
	object-fit: cover;
}

a:focus-visible,
button:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 2px;
}

.text-light,
.text-regular {
	font-size: 16px;
	line-height: 1.4;
	color: var(--main-color);
}

.text-light {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.title-md,
.title-sm {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--main-color);
}

.title-sm {
	/* min-width: 375px, max-width: 768px */
	font-size: clamp(24px, 1.0229rem + 2.0356vw, 32px);
}

.title-md {
	/* min-width: 375px, max-width: 992px */
	font-size: clamp(32px, 0.9364rem + 4.5381vw, 60px);
}

/* section start*/
@media (width > 576px) {
	.section {
		padding-bottom: 140px;
	}
}

@media (width <= 576px) {
	.section {
		padding-bottom: 80px;
	}
}
/* section end */

/* section-title start */
@media (width > 576px) {
	.section-title {
		margin-bottom: 40px;
	}
}
@media (width <= 576px) {
	.section-title {
		margin-bottom: 30px;
	}
}
/* section title end */
