*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: "Ubuntu", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}