@media (width > 992px) {
  .advantages {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (width <=992px) and (width > 576px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

@media (width <=576px) {
  .advantages {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

.advantages__title {
  /* min-width: 390px, max-width: 992px */
  margin-bottom: clamp(30px, 0.6603rem + 4.9834vw, 60px);
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
}

@media (width > 576px) {
  .advantages__wrapper {
    gap: 20px;
  }
}

@media (width <=576px) {
  .advantages__wrapper {
    gap: 10px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--shadow);
  color: var(--main-color);
}


@media (width > 576px) {
  .advantages__item {
    padding: 26px 20px 46px;
  }

  .advantages__item-info {
    margin-top: auto;
  }
}

@media (width < 576px) {
  .advantages__item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 20px 26px;
  }
}

.advantages__item-title {
  margin-bottom: 13px;
  font-family: var(--second-family);
  font-weight: 900;
  /* min-width: 390px, max-width: 992px */
  font-size: clamp(13px, 0.5291rem + 1.1628vw, 20px);
  text-align: center;
}

.advantages__item-desc {
  font-weight: 300;
  /* min-width: 390px, max-width: 992px */
  font-size: clamp(12px, 0.5071rem + 0.9967vw, 18px);
  line-height: 1.3;
}