  .burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: var(--layer-3);
    color: var(--secondary-color);
    transition: color var(--transition-time);
  }

  @media (width > 576px) {
    .burger {
      width: 50px;
      height: 50px;
    }
  }

  @media (width <= 576px) {
    .burger {
      width: 30px;
      height: 30px;
    }
  }

  @media(any-hover:hover) {
    .burger:hover {
      color: var(--accent-color);
    }
  }

  .burger__icon-open, .burger--open .burger__icon-cross {
    display: block;
    stroke: currentColor;
  }

  .burger__icon-cross, .burger--open .burger__icon-open {
    display: none;
  }