@media (width > 992px) {
  .goods {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

@media (width <= 992px) and (width > 576px){
  .goods {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

@media (width < 576px) {
  .goods {
    padding-top: 31px;
    padding-bottom: 46px;
  }
}


.goods__container {
  display: grid;
}

@media (width > 992px) {
  .goods__container {
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  }
}

@media (width <= 992px) {
  .goods__container {
    grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  }
}

@media (width > 576px) {
  .goods__container {
    gap: 20px;
  }
}

@media (width <=576px) {
  .goods__container {
    gap: 10px;
  }
}

.goods__product {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: border-radius var(--transition-time);
}

.goods__product-img {
  display: block;
}

.goods__product-info {
  color: var(--main-color);
  transition: background-color var(--transition-time), color var(--transition-time);
}

@media (width > 992px) {
  .goods__product-info {
    padding: 20px 40px 30px;
  }
}

@media (width <= 992px) {
  .goods__product-info {
    padding: 10px 12px 15px;
  }
}

@media (any-hover:hover) {
  .goods__product:hover {
    border-radius: 0 0 10px 10px;
  }

  .goods__product:hover .goods__product-info {
    color: var(--secondary-color);
    background-color: var(--main-color);
  }
}

.goods__product-title {
  margin: 19px 0 11px;
  font-family: var(--second-family);
  font-weight: 900;
}

.goods__product-button {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: currentColor;
}

.goods__product-button-icon {
  fill: currentColor;
}


/* ============================= */

@media (width > 992px) {
  .goods__product-title {
    font-size: 30px;
  }

  .goods__product-button {
    font-size: 24px;
    gap: 20px;
  }
}

@media (width <= 992px) and (width > 576px){
  .goods__product-title {
    font-size: 16px;
  }

  .goods__product-button {
    font-size: 12px;
    gap: 10px;
  }

  .goods__product-button-icon {
    width: 10px;
    height: 10px;
  }
}

@media (width < 576px) {
  .goods__product-title {
    font-size: 13px;
  }

  .goods__product-button {
    font-size: 11px;
    gap: 10px;
  }

  .goods__product-button-icon {
    width: 9px;
    height: 9px;
  }
}