.hero {
  position: relative;
  background-color: #ddd;
  z-index: var(--layer-1);
  overflow: hidden;
}

@media (width > 992px) {
  .hero__main {
    min-height: 850px;
  }

  .hero__info {
    padding-top: 250px
  }
}

@media (width <=992px) and (width > 576px) {
  .hero__main {
    min-height: 383px;
  }

  .hero__info {
    padding-top: 80px;
  }
}

@media (width <=576px) {
  .hero__main {
    min-height: 383px;
  }

  .hero__info {
    padding-top: 50px;
  }
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 900;
  line-height: 1.03;
  color: var(--main-color);
}

@media (width > 992px) {
  .hero__title {
    margin-bottom: 40px;
    max-width: 556px;
    font-size: 46px;
  }
}

@media (width > 576px) and (width <=992px) {
  .hero__title {
    margin-bottom: 20px;
    max-width: 363px;
    font-size: 30px;
  }
}

@media (width <=576px) {
  .hero__title {
    margin-bottom: 16px;
    max-width: 290px;
    font-size: 24px;
  }
}

.hero__text {
  font-weight: 400;
  line-height: 1.3;
  color: var(--main-color);
}

@media (width > 992px) {
  .hero__text {
    margin-bottom: 90px;
    max-width: 554px;
    font-size: 26px;
  }
}

@media (width > 576px) and (width <=992px) {
  .hero__text {
    margin-bottom: 40px;
    max-width: 253px;
    font-size: 12px;
  }
}

@media (width < 576px) {
  .hero__text {
    margin-bottom: 30px;
    font-size: 12px;
    max-width: 170px;
  }
}

.hero__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 3px;
  padding: 10px 20px;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-time);
}

@media(any-hover:hover) {
  .hero__button:hover {
    background-color: var(--main-color);
  }
}

@media (width > 992px) {
  .hero__button {
    font-size: 24px;
    min-height: 64px;
    min-width: 235px;
  }
}

@media (width <=992px) {
  .hero__button {
    font-size: 16px;
    min-height: 36px;
    min-width: 141px;
  }
}

.hero__img {
  position: absolute;
  z-index: var(--layer-negative);
}

@media (width > 1440px) {
  .hero__img {
    right: 0;
    bottom: -3px;
  }
}

@media (width <=1440px) and (width > 992px) {
  .hero__img {
    right: -30vw;
    bottom: -3px;
  }
}

@media(width > 576px) and (width <=992px) {
  .hero__img {
    right: -34px;
    bottom: -3px;
  }
}

@media (width <=576px) {
  .hero__img {
    top: auto;
    right: -20px;
    bottom: -30px;
  }
}

