.menu__list {
  display: flex;
}

@media (width > 1440px) {
  .menu__list {
    gap: 30px;
  }
}

@media (width <= 1440px) {
  .menu__list {
    gap: 20px;
  }
}

.menu__link {
  font-weight: 900;
  font-size: 20px;
  color: var(--secondary-color);
  transition: color var(--transition-time);
}

@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }
}