.footer {
  margin-top: auto;
	padding: 60px 0 40px;
	background-image: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	text-align: center;
}

.footer__top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #d3cbd9;
}

.footer__logo {
	display: inline-block;
	margin: 0 auto 40px;
}

.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.nav__list-link {
	line-height: 1.3;
	color: #535755;
	transition: color 0.2s;
}

.nav__list-link:hover {
	color: #3596ed;
}

.copyright {
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}
