*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

.title {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.text {
	line-height: 1.3;
	color: #535755;
}

.button {
	display: inline-block;
	padding: 19px 32px;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #3596ed;
	transition: opacity 0.2s;
}

.button:hover {
	opacity: 0.85;
}

.margin-bottom {
	margin-bottom: 140px;
}

.text-sub {
	margin-bottom: 8px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #858e8a;
}
