.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
}

.phone {
	text-align: right;
}

.phone__link {
	font-weight: 500;
	font-size: 18px;
	color: #2c332f;
  transition: color .2s;
}

.phone__link:hover {
	color: #3596ed;
}
