.hero {
	position: relative;
	padding-top: 80px;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url(../images/decor-large-icon.svg) repeat-x;
}

.hero__container {
	display: flex;
	align-items: center;
	gap: 28px;
}

.hero__title {
	margin-bottom: 40px;
	font-family: "Oswald";
	font-weight: 600;
	font-size: 62px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.hero__title strong {
	font-weight: 600;
	color: #3596ed;
}

.hero__text {
	margin-bottom: 140px;
	max-width: 439px;
}

.hero__images {
	display: flex;
	position: relative;
}

.hero__choose {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 160px;
	text-align: center;
	padding: 22px;
	border: 1px solid #535755;
	background-color: rgba(255, 255, 255, 0.9);
}

.news__title {
	margin-bottom: 40px;
}

.news__wrapper {
  display: flex;
  gap: 28px;
}

.news__article {
  display: flex;
  flex-direction: column;
	max-width: 284px;
	border: 1px solid #d3cbd9;
	overflow: hidden;
}

.news__article-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}

.news__article-img {
	display: block;
	width: 100%;
}

.news__article-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news__article-title {
	line-height: 1.3;
	color: #2c332f;
}

.news__article-footer {
  margin-top: auto;
	padding: 0 20px 20px;
}

.news__article-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
	line-height: 1.3;
	color: #3596ed;
}

.news__article-link::after {
  display: inline-block;
  content: "";
  width: 22px;
  height: 9px;
  background-image: url(../images/arrow-icon.svg);
  transition: transform 0.2s;
}

.news__article-link:hover::after {
  transform: translateX(5px);
}
