/* Oswald medium */
@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"), local("Oswald-medium"),
    url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Oswald semibold */
@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"), local("Oswald-semibold"),
    url("../fonts/Oswald-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Ubuntu light */
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"), local("Ubuntu-light"),
    url("../fonts/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Ubuntu regular */
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"), local("Ubuntu-regular"),
    url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Ubuntu medium */
@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"), local("Ubuntu-medium"),
    url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}