@media (width > 768px) {
  .burger {
    display: none;
  }
}

@media (width <= 768px) {
  .burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: var(--layer-3);
    width: 24px;
    height: 24px;
  }

  .burger__icon-open, .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross, .burger--open .burger__icon-open {
    display: none;
  }
}