.characteristics__video-wrapper {
	position: relative;
}

@media (width > 576px) {
	.characteristics__video-wrapper {
		margin-bottom: 60px;
	}
}

@media (width <= 576px) {
	.characteristics__video-wrapper {
		margin-bottom: 40px;
	}
}

.characteristics__video-preview {
	border: 1px solid var(--main-color);
	border-radius: 12px;
	overflow: hidden;
}

.characteristics__video-play-link {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: var(--overlay-color);
	border: 1px solid var(--main-color);
	border-radius: 50%;
	-webkit-box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	        box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	-webkit-transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	-o-transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time),
		-webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
	.characteristics__video-play-link:hover {
		border-color: var(--accent-color);
		-webkit-box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
		        box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
	}
}

@media (width > 576px) {
	.characteristics__video-play-link {
		width: 80px;
		height: 80px;
	}

	.characteristics__video-play-icon {
		width: 17px;
		height: 24px;
		-webkit-transform: translateX(2px);
		    -ms-transform: translateX(2px);
		        transform: translateX(2px);
	}
}
@media (width <= 576px) {
	.characteristics__video-play-link {
		width: 48px;
		height: 48px;
	}
	.characteristics__video-play-icon {
		width: 10px;
		height: 12px;
		-webkit-transform: translateX(1px);
		    -ms-transform: translateX(1px);
		        transform: translateX(1px);
	}
}

.characteristics__list {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
	gap: 40px 20px;
}

.characteristics__card-icon {
	margin-bottom: 4px;
	-webkit-transform: translateX(-8px);
	    -ms-transform: translateX(-8px);
	        transform: translateX(-8px);
}

@media (width > 576px) {
	.characteristics__card-icon {
		width: 56px;
		height: 56px;
	}
}
@media (width <= 576px) {
	.characteristics__card-icon {
		width: 49px;
		height: 49px;
		-webkit-transform: translateX(-4px);
		    -ms-transform: translateX(-4px);
		        transform: translateX(-4px);
	}
}

.characteristics__card-title {
	margin-bottom: 20px;
}

.characteristics__card-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.4;
	color: var(--main-color);
}