.footer {
  padding-block: 30px;
  border-top: 1px solid var(--main-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (width > 576px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (width <= 576px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}

.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: var(--main-color);
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .footer__phone:hover {
    color: var(--accent-color);
  }
}