/* slider start */
.product__slider-wrapper {
	position: relative;
	z-index: var(--layer-0);
	border: 2px solid var(--accent-color);
	border-radius: 12px;
	-webkit-box-shadow:
		0 0 30px 5px var(--accent-glow-color),
		inset 0 0 30px 5px var(--accent-glow-color);
	        box-shadow:
		0 0 30px 5px var(--accent-glow-color),
		inset 0 0 30px 5px var(--accent-glow-color);
}

@media (width > 768px) {
	.product__slider-wrapper {
		padding-top: 46px;
		padding-bottom: 57px;
		margin-bottom: 60px;
	}
}

@media (width <= 768px) {
	.product__slider-wrapper {
		padding-block: 50px;
		margin-bottom: 40px;
	}
}

.product__slider-button {
	position: absolute;
	top: 50%;
	z-index: var(--layer-2);
	width: 40px;
	height: 40px;
	color: var(--main-color);
	-webkit-transition: color var(--transition-time);
	-o-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.product__slider-button:hover {
		color: var(--accent-color);
	}
}

.product__slider-button-icon {
	stroke: currentColor;
}

@media (width > 768px) {
	.product__slider-button--prev {
		left: 40px;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}

	.product__slider-button--next {
		right: 40px;
		-webkit-transform: translateY(-50%) rotate(180deg);
		    -ms-transform: translateY(-50%) rotate(180deg);
		        transform: translateY(-50%) rotate(180deg);
	}
}

@media (width <= 768px) {
	.product__slider-button--prev {
		left: -5px;
	}

	.product__slider-button--next {
		right: -5px;
		-webkit-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
}

.product__slide-inner {
	text-align: center;
}

@media (width <= 768px) {
	.product__slide-img {
		max-width: 229px;
	}
}
/* slider end */

.product__title {
	margin-bottom: 20px;
}

.product__title-accent {
	color: var(--accent-color);
}

.product__description,
.product__price {
	margin-bottom: 40px;
}

.product__sizes-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (width > 768px) {
	.product__sizes-wrapper {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.product__sizes-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 40px;
	}
}

.product__sizes {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
}

.product__sizes-title,
.product__list-button {
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.product__sizes-title {
	margin-bottom: 20px;
}

@media (width > 576px) {
	.product__sizes-title {
		font-size: 16px;
	}
}

@media (width <= 576px) {
	.product__sizes-title {
		font-size: 14px;
	}
}

.product__sizes-title--in-stock {
	color: var(--main-color);
}

.product__sizes-title--to-order {
	color: var(--secondary-color);
}

.product__sizes-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 40px;
}

.product__sizes-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 60px;
	height: 60px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 12px;
	-webkit-box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	        box-shadow:
		var(--shadow-glow),
		inset var(--shadow-glow);
	-webkit-transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		-webkit-box-shadow var(--transition-time);
	-o-transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time);
	transition:
		border-color var(--transition-time),
		box-shadow var(--transition-time),
		-webkit-box-shadow var(--transition-time);
}

@media (any-hover: hover) {
	.product__sizes-button:hover {
		border-color: var(--accent-color);
		-webkit-box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
		        box-shadow:
			var(--shadow-accent-glow),
			inset var(--shadow-accent-glow);
	}
}

.product__sizes-button--active {
	color: var(--accent-color);
	border-color: var(--accent-color);
	-webkit-box-shadow:
		var(--shadow-accent-glow),
		inset var(--shadow-accent-glow);
	        box-shadow:
		var(--shadow-accent-glow),
		inset var(--shadow-accent-glow);
}

.product__sizes-button:disabled {
	color: var(--disabled-color);
	border-color: var(--disabled-color);
	-webkit-box-shadow:
		var(--shadow-disabled-glow),
		inset var(--shadow-disabled-glow);
	        box-shadow:
		var(--shadow-disabled-glow),
		inset var(--shadow-disabled-glow);
	cursor: default;
}

.product__buy-wrapper {
	--accent-glow-color: #ffea00cc;
	--shadow-accent-glow: 0 0 12px var(--accent-glow-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 10px;
}

.product__buy-button {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--bg-color);
	padding: 20px 38px;
	border-radius: 4px;
	background-color: var(--accent-color);
	-webkit-transition: -webkit-box-shadow var(--transition-time);
	transition: -webkit-box-shadow var(--transition-time);
	-o-transition: box-shadow var(--transition-time);
	transition: box-shadow var(--transition-time);
	transition: box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
}

@media (width <= 420px) {
	.product__buy-button {
		width: 100%;
	}
}

@media (any-hover: hover) {
	.product__buy-button:hover,
	.product__buy-cart:hover {
		-webkit-box-shadow: var(--shadow-accent-glow);
		        box-shadow: var(--shadow-accent-glow);
	}
}

.product__buy-cart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 59px;
	height: 59px;
	border: 1px solid var(--accent-color);
	border-radius: 4px;
	-webkit-transition: -webkit-box-shadow var(--transition-time);
	transition: -webkit-box-shadow var(--transition-time);
	-o-transition: box-shadow var(--transition-time);
	transition: box-shadow var(--transition-time);
	transition: box-shadow var(--transition-time), -webkit-box-shadow var(--transition-time);
}

@media (width <= 420px) {
	.product__buy-cart {
		-ms-flex-negative: 0;
		    flex-shrink: 0;
	}
}

.product__order-link {
	font-weight: 400;
	font-size: 13px;
	line-height: 1.3;
	color: var(--main-color);
	padding-bottom: 5px;
	border-bottom: 1px solid var(--main-color);
	-webkit-transition: color var(--transition-time);
	-o-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.product__order-link:hover {
		color: var(--accent-color);
		border-bottom-color: var(--accent-color);
	}
}