*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 15px;
  border-bottom: 1px solid #888;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #000;
}

.header__list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.header__list-item {
  list-style: none;
}

.header__list-link {
  color: #000;
}

.header__link {
  text-decoration: none;
  color: #000;
}

