/* open sans light */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* open sans regular */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("Open Sans-Regular"),
    url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* open sans medium */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"), local("OpenSans-Medium"),
    url("../../fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* open sans semibold */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
    url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* open sans bold */
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* namupro */
@font-face {
  font-family: "NAMU";
  src: local("NAMU"), local("NAMU"),
    url("../../fonts/NAMUPro.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}