@media (width > 576px) {
  .air-mag {
    padding-bottom: 93px;
  }

	.air-mag__title {
		margin-bottom: 10px;
	}
}

@media (width <= 576px) {
  .air-mag {
    padding-bottom: 80px;
  }

	.air-mag__title {
		margin-bottom: 20px;
	}
}

.air-mag__description {
	display: flex;
	align-items: center;
	gap: 13px;
}

.air-mag__description::before {
	content: "";
	flex-shrink: 0;
	display: block;
	transform: translateX(-13px);
	width: 131px;
	height: 39px;
	background-image: url(../../icons/rectangle-decor-icon.svg);
}

@media (width > 768px) {
	.air-mag__description {
		margin-bottom: 20px;
	}
}

@media (width <= 768px) {
	.air-mag__description {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 15px;
	}
}

.air-mag__info-wrapper {
	display: flex;
}

@media (width > 992px) {
	.air-mag__info-wrapper {
		gap: 40px;
	}
}

@media (width <= 992px) {
	.air-mag__info-wrapper {
		flex-direction: column;
	}
}

.air-mag__img {
	width: 100%;
}

.air-mag__info-list {
	display: flex;
	flex-direction: column;
}

@media (width > 992px) {
	.air-mag__info-list {
		gap: 40px;
		transform: translateY(71px);
		flex-shrink: 0;
		max-width: 293px;
	}
}

@media (width <= 992px) {
	.air-mag__info-list {
		gap: 20px;
		max-width: 700px;
	}
}

.air-mag__info-item::before {
	content: "";
	display: block;
	width: 45px;
	height: 33px;
	margin-bottom: 5px;
	background: url(../../icons/double-check-icon.svg);
	transform: translateX(-8px);
}
